.arrivals {
    padding: 48px 0;
}

.arrivals__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrivals__title {
}

.arrivals__dots {
}

.container-right {
}
