.btn {
    padding: 12px 56px;
    display: inline-block;
    border-radius: 8px;
    background-color: #141718;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.77777;
    letter-spacing: -0.4px;
    color: #fff;
    transition: all 0.2s ease-in;

    @include mobile {
        font-size: 16px;
    }

    &:hover {
        opacity: 0.9;
    }

    &--s {
        padding: 9px 40px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.4px;
        line-height: 1.75;

        @include mobile {
            padding: 6px 40px;
            font-size: 14px;
        }
    }

    &--wide {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }

    &--fav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 8px 16px -8px rgba(15, 15, 15, 0.5);
        transition: all 0.2s ease-in;

        &:hover {
            background-color: #cc2e2e;
            svg {
                fill: #fff;
            }
        }
    }
}
