.hero {
    height: 820px;
    background-color: #ffc95c;
    background-image: url("./../../img/hero/bg.jpg");
    background-position: center center; /* x y */
    background-size: cover;
    background-repeat: no-repeat;

    .container-half-right {
        display: flex;
        align-items: center;
        height: 100%;

        @include mobile {
            justify-content: center;
            height: auto;
            padding-top: 40px;
            padding-bottom: 40px;
            max-width: 375px;
            margin: 0 auto;
            text-align: center;
        }
    }

    @include mediaBg() {
        background-image: url("./../../img/hero/bg@2x.jpg");
    }

    @include tablet {
        height: 500px;
    }

    @include mobile {
        height: auto;
        padding-bottom: 390px;
        background-image: url("./../../img/hero/bg-mobile.jpg");

        @include mediaBg() {
            background-image: url("./../../img/hero/bg-mobile@2x.jpg");
        }
    }
}

.hero__title {
    margin-bottom: 8px;
    font-size: 80px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -3px;
    font-family: var(--font-accent);
    color: #000;
    text-wrap: balance;

    @include tablet {
        font-size: 60px;
    }

    span {
        color: #377dff;
    }

    @include mobile {
        font-size: 40px;
    }
}

.hero__desc {
    margin-bottom: 28px;
    color: #121212;
    font-size: 20px;
    line-height: 1.6;

    @include mobile {
        font-size: 16px;
        margin-bottom: 16px;
    }
}
