.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 24px;
	height: 24px;
}

.icon--ticket-percent {
	fill: #fff;
}

.icon--arrow-right {
	stroke: #ffab00;
}

.icon--close {
	width: 20px;
	height: 20px;
	fill: #343839;
	transition: all 0.2s ease-in;

	@include mobile {
		fill: #fff;
	}

	&:hover {
		fill: #fff;
	}
}

.icon--chevron-down {
	stroke: #141718;
}

.icon--nav-search {
	stroke: #141718;
}

.icon--user-circle {
	stroke: #141718;
}

.icon--shopping-bag {
	stroke: #141718;
}

.icon--star {
	stroke: #141718;
	fill: #141718;
}

.icon--fav {
	fill: #6c7275;
	transition: all 0.2s ease-in;
}

.icon--arrow-right-black {
	width: 20px;
	height: 20px;
	stroke: #121212;
}

.icon--shipping {
	width: 48px;
	height: 48px;
	stroke: #141718;
}

.icon--finance {
	width: 48px;
	height: 48px;
	stroke: #141718;
}

.icon--lock {
	width: 48px;
	height: 48px;
	stroke: #141718;
}

.icon--call {
	width: 48px;
	height: 48px;
	stroke: #141718;
}

.icon--email {
	fill: #121212;
}

.icon--instagram {
	width: 24px;
	height: 24px;
	stroke: #fefefe;
}

.icon--facebook {
	width: 24px;
	height: 24px;
	stroke: #fefefe;
}

.icon--youtube {
	width: 24px;
	height: 24px;
	stroke: #fefefe;
}

.icon--menu {
	stroke: #141718;
}

.icon--close-nav {
	fill: #6c7275;
}

.icon--search {
	stroke: #141718;
}

.icon--instagram {
	stroke: #141718;
}

.icon--facebook {
	stroke: #141718;
}

.icon--youtube {
	stroke: #141718;
}

.icon--heart {
	fill: #141718;
}
