.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 24px;
	height: 24px;
}

.icon--ticket-percent {
	fill: #fff;
}

.icon--arrow-right {
	stroke: #ffab00;
}

.icon--close {
	width: 20px;
	height: 20px;
	fill: #343839;
}

.icon--chevron-down {
	stroke: #141718;
}

.icon--nav-search {
	stroke: #141718;
}

.icon--user-circle {
	stroke: #141718;
}

.icon--shopping-bag {
	stroke: #141718;
}

.icon--star {
	stroke: #141718;
	fill: #141718;
}

.icon--fav {
	//stroke: #6C7275;
	fill: #6c7275;
	transition: all 0.2s ease-in;
}

.icon--arrow-right-black {
	width: 20px;
	height: 20px;
	stroke: #121212;
}
